@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap');

:root {
  --dark-green: #495E57;
  --yellow: #F4CE14;
  --salmon: #EE9972;
  --light-salmon: #FBDABB;
  --light-grey: #EDEFEE;
  --dark-grey: #333333;
  --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow-x: hidden;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
  margin: 0 5vw 0 5vw;
}

.navLink {
  font-family: Karla, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  color: var(--dark-grey);
}

.bigHeader {
  font: 64px 'Markarazi Text', 'Times New Roman', Times, serif;
}

.title {
  color: var(--yellow);
}

.aboutTitle {
  color: var(--dark-green)
}

.subHeader {
  font:  40px 'Markarazi Text', 'Times New Roman', Times, serif;
}

.sectionText {
  font: 18px 'Karla', Verdana, Geneva, Tahoma, sans-serif;
}

.heroContainer, .testimonialContainer {
  background-color: var(--dark-green);
  color: var(--light-grey);
}

.cardHeader {
  font: bold 18px 'Markarazi Text', 'Times New Roman', Times, serif;
}

.cardPrice {
  font: 16px 'Karla', Verdana, Geneva, Tahoma, sans-serif;
  color: var(--yellow);
}

.orderDelivery {
  font: bold 16px 'Karla', Verdana, Geneva, Tahoma, sans-serif;
  color: var(--dark-grey);
}

.cardText {
  font:  16px 'Karla', Verdana, Geneva, Tahoma, sans-serif;
  color: var(--dark-green);
}

.reviewText {
  font:  18px 'Karla', Verdana, Geneva, Tahoma, sans-serif;
  color: var(--dark-grey);
}

.darkBackgroundFont {
  color: var(--light-grey)
}

.lightBackgroundFont {
  color: var(--dark-grey)
}

.dropShadow {
  box-shadow: var(--shadow);
}

.footerContainer {
  background-color: var(--dark-green);
  color: var(--light-grey);
}

.footerText {
  font-family: Karla, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

a:hover {
  color: var(--yellow);
  text-decoration: none;
}